{% extends "base_loggedin.jinja2" %}

{% block menu_add_bill %}class="active"{% endblock %}

{% block content %}
<h1>Add Bill</h1>

<br>

<!-- do some javascripty thing here -->
<form class="well add-person" id="add-person-form" method="GET"
  action="/add_bill">
  <input type="text" name="new_person" placeholder="John Smith" id="add-person-form-field">
  <input type="hidden" name="people" id="add-person-people"
  value="{{ request.params['people'] }}">
  <input type="hidden" name="amount" id="add-person-amount"
  value="{{ request.params['amount'] }}">
  <button type="submit" class="btn">Add Person</button>
</form>

<form class="add-bill-form form-inline" method="POST" action="/bill/1">

  <div class="row bill-name-row">
    <div class="span6">
      <input type="text" class="input" name="bill-name" placeholder="Random expenses">
    </div>
  </div>

  {% for person_dict in people %}
  <div class="row add-bill-row">
    <div class="span6">
      <div 
    {% if person_dict['name'] == request.session['user']['name'] %}
      class="name bill-primary bill-primary-link"
    {% else %}
      class="name bill-primary-link"
    {% endif %}
      >

        {{ person_dict['name'] }}

      </div>
    </div>
    <div class="span4 add-bill-amount input-prepend">
      <span class="add-on">$</span>
      <input class="bill-share-field" type="text" class="input-small"
      name="amount-0" value="{{ "%0.2f" % (person_dict['amount']/100) }}">
    </div>
    <!-- do some javascripty thing here -->
    <div class="span2 add-bill-remove-person"><a href="#">Remove</a></div>
  </div>
  {% endfor %}

  {% if request.params['new_person'] %}
  <div class="row add-bill-row">
    <div class="span6">
      <div class="name bill-primary-link">
        {{ request.params['new_person'] }}
      </div>
    </div>
    <div class="span4 add-bill-amount input-prepend">
      <span class="add-on">$</span>
      <input class="bill-share-field" type="text" class="input-small"
      name="amount-0" value="0.00">
    </div>
    <!-- do some javascripty thing here -->
    <div class="span2 add-bill-remove-person"><a href="#">Remove</a></div>
  </div>
  {% endif %}

  <div class="row add-bill-row-total">
    <div class="span6">Total</div>
    <div class="span4 add-bill-amount input-prepend">
      <span class="add-on">$</span>
      <input id="bill-amount-total" type="text" class="input-small"
      name="amount-dollars"
      value="{{ amount }}">
    </div>
    <div class="span2 add-bill-auto-split">
      Auto-split <input type="checkbox" checked="yes" id="auto-split">
    </div>
  </div>

  <div class="add-bill-bottom">
    <input type=hidden id="people" name="people">
    <input type=hidden id="amount" name="amount">
    <button type="submit" class="btn">Add Bill</button>
  </div>
</form>

{% endblock %}
