{% extends "base.jinja2" %}

{% block nav %}
  <li {% block menu_overview %}{% endblock %}><a href="/">Overview</a></li>
  <li {% block menu_account %}{% endblock %}><a href="/account">Account</a></li>
  <li {% block menu_contact %}{% endblock %}><a href="/contact">Contact</a></li>
{% endblock %}
