{% extends "base_loggedout.jinja2" %}

{% block content %}
<h1>Do you share expenses with people you know?</h1>
<hr>
<p>We do, so we created <strong>Bill 'em All</strong>, a web site that makes it
easy to keep track of who pays for what and who needs to pay whom.</p>
<h2><a href="/login">Sign up now, bitch!</a></h2>
{% endblock %}
