{% extends "base.jinja2" %}

{% block menu_overview %}class="active"{% endblock %}

{% block content %}

{% if flashed_messages %}
  <ul class="error">
  {% for msg in flashed_messages %}
    <li>{{ msg }}</li>
  {% endfor %}
  </ul>
{% endif %}

<div class="row">
  <div class="span6">
    <form class="well" action="/login" method="POST">
      <fieldset>
        <legend>Log In</legend>
        <div class="control-group">
          <label class="control-label" for="email">{{ forms.login.email.label }}</label>
          <div class="controls">
            {{ forms.login.email()|safe }}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">{{ forms.login.password.label }}</label>
          <div class="controls">
            {{ forms.login.password()|safe }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
