{% extends "base.jinja2" %}

{% block menu_overview %}class="active"{% endblock %}

{% block content %}

{% macro render_field(field) %}
  <br />
  <b>{{ field.label }}</b><br />
  {{ field(**kwargs)|safe }}<br />
  <br />
  <br />
{% endmacro %}

{% if flashed_messages and flashed_messages[0] %}
  <ul class="error">
  {% for msg_list in flashed_messages %}
    {% for msg in msg_list %}
      <li>{{ msg }}</li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endif %}

<div class="row">
  <div class="span6">
    <form class="well" action="/login" method="POST">
      <fieldset>
        <legend>Log In</legend>
        <div class="control-group">
          <label class="control-label" for="email">{{ forms.login.email.label }}</label>
          <div class="controls">
            {{ forms.login.email()|safe }}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">{{ forms.login.password.label }}</label>
          <div class="controls">
            {{ forms.login.password()|safe }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn">
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="span6">
    <form class="well" action="/register" method="POST">
      <fieldset>
        <legend>Register</legend>
        <div class="control-group">
          <label class="control-label" for="name">{{ forms.registration.name.label }}</label>
          <div class="controls">
            {{ forms.registration.name()|safe }}
            <p class="help-block">What your friends call you</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">{{ forms.registration.email.label }}</label>
          <div class="controls">
            {{ forms.registration.email()|safe }}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">{{ forms.registration.password.label }}</label>
          <div class="controls">
            {{ forms.registration.password()|safe }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
