{% extends "base_loggedin.jinja2" %}

{% block menu_overview %}class="active"{% endblock %}

{% block content %}
<h1>Overview</h1>

<br>

<div class="row-fluid add-bill-basic-form">
  <div class="span3">
    <form class="form-inline">
      <input id="person-field" type="text" class="input-small" name="name" placeholder="John Smith">
      <button id="add-to-bill-field-button" type="submit" class="btn">Add to bill</button>
    </form>
  </div>
  <form class="form-inline" id="add-bill-form" action="add_bill" method="GET">
    <div class="span4" id="people-container">
      <span class="bill-person">{{ request.session['user']['name'] }} </span>
      &nbsp;
    </div>
    <div class="span3 input-prepend amount-box">
      <span class="add-on">$</span>
      <input id="amount-field" type="text" name="amount" class="input-small" value="100">
      <input type="hidden" name="people" id="people">
    </div>
    <div class="span2">
      <button id="overview-add-bill-button" type="submit" class="btn btn-primary">
        Add bill
      </button>
    </div>
  </form>
</div>

{% for name, amount in users.iteritems() %}
  <div class="row-fluid summary-row">
    <div class="span7"><div class="name">
      <a href="/user/1">{{ name }}</a>
    </div></div>
    <div class="span3"><div class="amount amount-positive">${{ amount }}</div></div>
    <div class="span2 add-bill-button">
      <a class="add-to-bill-link" data-name="{{ name }}">Add to bill</a>
    </div>
  </div>
{% endfor %}

{% endblock %}
