{% extends "base_loggedin.jinja2" %}

{% block menu_overview %}class="active"{% endblock %}

{% block content %}
<h1>Overview</h1>

<br>

<div class="row-fluid summary-row">
  <div class="span7"><div class="name">
      <a href="/user/1">Fred Hatfull</a>
  </div></div>
  <div class="span3"><div class="amount amount-positive">$3,000</div></div>
  <div class="span2 add-bill">
    <a href="/add_bill?users=1">Add bill</a>
  </div>
</div>

<div class="row-fluid summary-row">
  <div class="span7"><div class="name">
      <a href="/user/2">Toby Waite</a>
  </div></div>
  <div class="span3"><div class="amount amount-negative">($1,700)</div></div>
  <div class="span2 add-bill">
    <a href="/add_bill?users=2">Add bill</a>
  </div>
</div>
{% endblock %}
