{% extends "base_loggedin.jinja2" %}

{% block menu_overview %}class="active"{% endblock %}

{% block content %}
<h1>Overview</h1>

<br>

<form class="row-fluid add-bill-row" action="add_bill">
  <div class="span7">
    <input type="text" class="span7" name="people" placeholder="John Smith, Jane Doe, Michael Scott">
  </div>
  <div class="span3">
    <input type="text" name="amount" placeholder="$100">
  </div>
  <div class="span2 add-bill">
    <button type="submit" class="btn">Add bill</button>
  </div>
</form>

<div class="row-fluid summary-row">
  <div class="span7"><div class="name">
      <a href="/user/1">Fred Hatfull</a>
  </div></div>
  <div class="span3"><div class="amount amount-positive">$3,000</div></div>
  <div class="span2 add-bill">
    <a href="/add_bill?people=1">Add bill</a>
  </div>
</div>

<div class="row-fluid summary-row">
  <div class="span7"><div class="name">
      <a href="/user/2">Toby Waite</a>
  </div></div>
  <div class="span3"><div class="amount amount-negative">($1,700)</div></div>
  <div class="span2 add-bill">
    <a href="/add_bill?people=2">Add bill</a>
  </div>
</div>
{% endblock %}
