{% extends "base.jinja2" %}

{% block menu_overview %}class="active"{% endblock %}

{% block content %}

{% if flashed_messages %}
  <ul class="error">
  {% for msg in flashed_messages %}
    <li>{{ msg }}</li>
  {% endfor %}
  </ul>
{% endif %}

<div class="row">
  <div class="span6">
    <form class="well" action="/register" method="POST">
      <fieldset>
        <legend>Register</legend>
        <div class="control-group">
          <label class="control-label" for="name">{{ forms.registration.name.label }}</label>
          <div class="controls">
            {{ forms.registration.name()|safe }}
            <p class="help-block">What your friends call you</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="email">{{ forms.registration.email.label }}</label>
          <div class="controls">
            {{ forms.registration.email()|safe }}
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">{{ forms.registration.password.label }}</label>
          <div class="controls">
            {{ forms.registration.password()|safe }}
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
