{% extends "base_loggedin.jinja2" %}

{% block content %}
<h1>You and Toby Waite</h1>

<br/>

<div class="row history-row credit">
  <div class="span4 offset6">
    <div class="row">
      <div class="span3 name">Rent</div>
      <div class="span1 amount">$1,800</div>
    </div>
  </div>
  <div class="span2 running-total">
    ($1,800)
  </div>
</div>

<div class="row history-row debit">
  <div class="span4">
    <div class="row">
      <div class="span3 name">Groceries</div>
      <div class="span1 amount">$100</div>
    </div>
  </div>
  <div class="span2 offset6 running-total">
    ($1,700)
  </div>
</div>
{% endblock %}
