{% extends "base_loggedin.jinja2" %}

{% block menu_add_bill %}class="active"{% endblock %}

{% block content %}
<h1>Random Expenses</h1>
<h2>March 3, 2012</h2>

<br>

<p class="credit">You owe Fred Hatfull $100 from this bill.</p>

<p>Fred paid $300. Responsibility is split as follows:</p>

<div class="row view-bill-row">
  <div class="span6 bill-primary">
    Fred Hatfull (primary)
  </div>
  <div class="span6">
    $100
  </div>
</div>

<div class="row view-bill-row">
  <div class="span6">
    Me
  </div>
  <div class="span6">
    $100
  </div>
</div>

<div class="row view-bill-row">
  <div class="span6">
    Toby Waite
  </div>
  <div class="span6">
    $100
  </div>
</div>

{% endblock %}
