body {
  font-size: 14px;
}

.input-prepend input {
  margin-left: -4px;
}

.amount {
  text-align: right;
}

p {
  font-size: 14px;
}

/* overview */

.summary-row, .add-bill-row, .view-bill-row {
  min-height: 30px;
  line-height: 30px;
  border-top: 1px solid #eee;
}

.summary-row .name {
  padding-left: 0.5em;
}

.summary-row .amount-positive {
  color: red;
}

.summary-row .amount-negative {
  color: green;
}

.summary-row .add-bill-button {
  text-align: right;
}

.add-bill-basic-form .btn {
  width: 100%;
}

.add-bill-basic-form .amount-box {
  text-align: right;
}

/* user details */

.running-total {
  text-align: right;
  color: black;
}

.history-row {
  min-height: 30px;
  line-height: 30px;
  border-top: 1px solid #eee;
}

.credit {
  color: red;
}

.debit {
  color: green;
}

/* add bill */

.add-person input {
  margin-bottom: 0;
}

.add-bill {
  text-align: right;
}

.add-bill-row {
  border-top: none;
  margin-bottom: 9px;
}

.add-bill-row-total {
  border-top: 1px solid black;
  padding-top: 0.5em;
}

.bill-name-row input {
  width: 100%;
  font-size: 28px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 1em;
}

.add-bill-amount {
  text-align: right;
}

.add-bill-remove-person, .add-bill-auto-split {
  text-align: right;
}

.add-bill-bottom {
  margin-top: 9px;
  text-align: right;
}

.add-bill-form .radio input[type="radio"], .checkbox input[type="checkbox"] {
  display: inline;
  float: none;
  margin-left: 0;
}

.bill-primary {
  color: #4af;
}
